<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<p>This email is to let you know that the timer <b><%=@countdown_user.timer_title%></b> is about to expire.</p>
  </body>
</html>